.DS_Store
node_modules
/dist
# /public/data
/node-thsi/node_modules
/node-this/password.js
/_demo
/docs/out
# local env files
.env.local
.env.*.local

password.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/build
/types
/coverage
/docs-html
stats.html

/**/node_modules

/data/process/**
/data/pdf/**

/*/data
